<footer>
  <div class="container">
    <div class="f-right">&copy; Vigap 2014</div>
    <div class="f-left">
      <a href="#" title="Home">Home</a> &bull;
      <a href="#" title="Posts">Posts</a> &bull;
      <a href="#" title="About">About</a> &bull;
      <a href="#" title="Terms & Privacy">Terms &amp; Privacy</a> &bull;
      <a href="#" title="Contact">Contact</a>
    </div>
  </div>
</footer>