<footer>
  <div class="container">
    <div class="f-right">&copy; Vigap <%= Time.now.year %></div>
    <div class="f-left">
      <%= link_to 'Home', root_path %> &bull;
      <%= link_to 'About', post_path(id: 'about-vigap') %> &bull;
      <%= link_to 'Terms & Privacy', post_path(id: 'vigap-terms-privacy') %> &bull;
      <a href="#" title="Contact">Contact</a>
    </div>
  </div>
</footer>
