<header class="site-wide">
  <div class="container centered-container">

      <%= link_to image_tag("vigap-logo.png", width: 40), "#{request.protocol}#{request.host_with_port}", :class => "brand", :id => '_home' %>


  </div>
</header>