<%= form_for(@post.subscriptions.find_by(user_id: current_user.id),
             html: { method: :delete },
             remote: false) do |f| %>
    <div><%= f.hidden_field :post_id %></div>
    <%= f.submit "Unsubscribe!", class: "btn btn-large btn-default", id: '_posts_unfollow' %>
<% end %>
