//*= require bootstrap-wysihtml5
//*= require medium-editor/medium-editor
//*= require medium-editor/themes/default
//*= require medium-editor-insert-plugin.min
//*= require font-awesome

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'flat-ui';
@import 'icons';
@import 'home_cards';

body {
  font-family: "proxima-nova", sans-serif;
  background: #f9f9f9;
}

@media only screen and (min-width: 768px) {
//	.navbar, .navbar-default .navbar-nav > li > a {
//		height: 42px;
//		background-color: #3b5998;
//		color: rgba(255, 255, 255, 0.9);
//		font-size: 16px;
//		font-family: 'Helvetica Neue', Helvetica, Arial, 'lucida grande',tahoma,verdana,arial,sans-serif;
//		text-shadow: 0 -1px rgba(0, 0, 0, .1);
//		font-weight: bold;
//	}

//	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
//    	background-color: rgba(255, 255, 255, 0.4) !important;
//		color: #3b5998;
//		text-shadow: none;
//    	height: 52px;
//	}

	.navbar img {
		height: 35px;
	}

	.form-group {
		margin-top:14px;
	}

	.form-group {
		display: inline;
	}

	.searchbox {
		color: #9197a3;
		font-size: 16px;
		-webkit-font-smoothing: antialised;
		border-color:rgba(0, 0, 0, 0.3);
		margin-left: 12px;
		width:auto;
	}

	.tt-dropdown-menu {
	    width: 422px;
	    margin-top: 8px;
	    margin-left: 10px;
	    padding: 10px 0;
	    background-color: #fff;
	    border: 1px solid #ccc;
	    border: 1px solid rgba(0, 0, 0, 0.2);
	    border-radius: 8px;
	    box-shadow: 0 5px 10px rgba(0,0,0,.2);
	}

	.tt-suggestion {
	    padding: 3px 20px;
	    font-size: 18px;
	    line-height: 24px;
	}

	.tt-suggestion.tt-is-under-cursor, .tt-suggestion.tt-cursor {
	    color: #000;
	    background-color: gold;
	}

	.tt-suggestion p {
	    margin: 0;
	}
}
.container {
  h2 {
    text-align: center;
    font-weight: 200;
    padding: 20px 0 30px;
    font-size: 36px;
  }
}

/* User area section */
.user-area {
  position: absolute;
  top: 8px;
  right: 15px;

  a {
    display: inline-block;
    padding: 8px 14px;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    border-radius: 3px;
    border: 1px solid transparent;
    &:hover {
      color: white;
      background: #3198e0;
      border-color: #3198e0;
    }
  }
  .no-style {
    padding: 0 14px;
    &:hover {
      border-color: transparent;
      background: none;
      strong {
        border-bottom: 1px dotted white;
      }
    }
  }
  .icon-angle-right {
    margin-left: 10px;
  }
  .action {
    border: 1px solid white;

    &:hover {
      background: #3198e0;
      border-color: #3198e0;
      color: white;
    }
  }
}
.user-avatar {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  background: white;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: -1px;
  img {
    height: 30px;
    width: 30px;
  }
}
header {
  background: #1b1f23;
  padding: 10px 0;
}
.twitter-typeahead {
  vertical-align: middle;
  .typeahead {
    border-radius: 6px 0 0 6px !important;
    margin-left: 0;
  }
}

.inliner {
  display: inline-block;
  vertical-align: middle;
}
.post-hero {
  background: white;
  padding: 30px 0 40px;
  .container {
    position: relative;
  }
  .icon-bookmark {
    font-size: 36px;
    position: absolute;
    right: 30px;
    top: 0;
    color: #e74c3c;
  }
}
.post-header {
  text-align: center;
  h1 {
    margin: 0;
    padding-bottom: 10px;
  }
  .post-stats {
    font-size: 14px;
    display: block;
  }
  .subscribe {
    padding-top: 25px;
  }
}
.centered {
  text-align: center;
}
ul.menu {
  padding: 0;
  margin: 0;
}
.group-container {
  position: relative;
}
.list-group-item {
  width: 260px;
}
.btn-outline {
  border: 1px solid white;
  background: transparent;
}

/* The bubbles */
.the-bubble {
  position: relative;
  width: 90%;
  height: auto;
  padding: 15px 25px;
  background: #FFFFFF;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  .bubble-meta {
    border-top: 1px solid #eee;
    padding-top: 10px;
  }
  &.left {
    &:after {
      border-width: 9px 15px 9px 0;
      margin-top: -9px;
      left: -15px;
      right: autp;
    }
  }
  &:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 9px 0 9px 15px;
    border-color: transparent #FFFFFF;
    display: block;
    width: 0;
    z-index: 1;
    margin-top: -9px;
    right: -15px;
    top: 50%;
  }
}
.bubble-container {
  position: relative;
  p {
    font-size: 15px;
  }
  .user, .the-bubble {
    display: inline-block;
    vertical-align: middle;
  }
  .user {
    padding-right: 20px;
  }
  .icon-star {
    position: absolute;
    font-size: 30px;
    top: -5px;
    left: -10px;
  }
}
.post-content {
  padding-top: 25px;
}
.centered-container {
  text-align: center;
}
.f-right {
  float: right;
}
.f-left {
  float: left;
}

.page-white-full {
  background: white;
  margin-top: 80px;
  border-top: 1px solid #dddddd;
  min-height: 300px;
  .nav-tabs {
    margin-top: -40px;
  }
  .tab-pane {
    padding: 20px 0;
  }
  #settings {
    .form-group {
      display: block;
      width: 550px;
      float: none;
      overflow: hidden;
    }
  }
  label {
    margin-bottom: 0;
    padding-bottom: 3px;
    font-weight: normal;
  }

}

.add-comment-form {
  position: relative;
  padding: 15px;
  .form-control {
    height: 180px;
    padding-bottom: 60px;
    margin-top: -20px;
  }
  .btn {
    border-radius: 4px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    margin-bottom: 20px;
  }
}
.next-av {
  vertical-align: middle;
  margin-top: -3px;
  //background: image-url('test_avatar.jpg');
  background-size: 30px;
  width: 30px;
  height: 30px;
  margin-right: 9px;
  display: inline-block;
}
.next-av img {
  height: 30px!important;
  width: 30px!important;
}

.btn-primary, .btn-default {
  background-color: #3498db;
  background: #3498db;
}

.header-14-sub .subscribe-form form .input-group .btn {
  background: #e74c3c;
}

/* Delete this if you will
body {
  background: white !important;
  color: black !important;
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  color: #000;
  font-family: Georgia, serif;
}
.list-group-item,
.list-group-item:hover,
.list-group-item:focus {
  border: 1px solid black !important;
  border-top: 5px solid black !important;
  .card-footer {
    border-top: 0 !important
  }
  h4 {
    font-size: 27px !important;
    border-bottom: 1px dotted black !important;
    margin-bottom: 14px !important;
    padding-bottom: 12px !important;
    padding-top: 5px !important;
    font-weight: 700 !important;
  }
  a {
    color: black !important;
    &:hover {
      color: #333;
    }
  }
  p {

  }
  .next-av {
    vertical-align: middle;
    margin-top: -3px;
    background: image-url('test_avatar.jpg');
    width: 40px;
    height: 40px;
    margin-right: 9px;
    display: inline-block;
  }
}
.hero-container {
  height: 340px !important;
  background: image-url('test.jpg') black !important;
}
.vigap-count {
  display: none !important;
}

header .brand img:first-child {
  margin: 40px auto 10px !important;
  width: 100px !important;
}
.header-14-sub .subscribe-form .btn.btn-primary {
  background: white !important;
  color: black !important;
  border-left: 1px solid #000 !important;
}
.header-14-sub .subscribe-form .btn.btn-primary:hover, .header-14-sub .subscribe-form .btn.btn-primary:focus {
  background: #eee !important;
  color: black !important;
  border-left: 1px solid #000 !important;
}
.tag {
  background: black !important;
  &:before {
    border-color: transparent #000 transparent transparent !important;
  }
}
*/

footer {
  background: #333;
  margin-top: 20px;
  padding: 15px 0;
  font-size: 13px;
  font-weight: normal;
  a {
    margin: 0 8px;
  }
  .f-right {
    margin-right: 8px;
    font-size: 13px;
  }
}
.followers {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: 10px;
  }
}

.followbtn {
    border: 1px solid goldenrod;
    color: goldenrod;
    border-radius: 3px;
    padding: 8px 14px;
    transition: color 0.25s, background 0.25s;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:hover {
      color: white;
      background: goldenrod;
    }
}

.replybtn {
    border: 1px solid goldenrod;
    color: goldenrod;
    border-radius: 3px;
    transition: color 0.25s, background 0.25s;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 31px;
    &:hover {
      color: white;
      background: goldenrod;
    }
}

.glyphicon-thumbs-up {
    border: 1px solid #5cb85c;
    background-color: transparent;
    color: #5cb85c;
}

.glyphicon-thumbs-down {
    border: 1px solid #d9534f;
    background-color: transparent;
    color: #d9534f;
}
