.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  padding: 1em;
  cursor: default; }
.apple_pagination a, .apple_pagination span {
  padding: 0.2em 0.3em; }
.apple_pagination .disabled {
  color: #aaaaaa; }
.apple_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: #bebebe;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.apple_pagination a {
  text-decoration: none;
  color: black; }
.apple_pagination a:hover, .apple_pagination a:focus {
  text-decoration: underline; }

.jumbotron {
  background: #f1f1f1;
  padding-top:16px;
  color: #333;
}

.jumbotron h1 {
  color: #3498db;
  font-size: 50px;
}

.jumbotron p {
  font-family: proxima-nova, sans-serif;
  font-weight: normal;
  white-space: pre-wrap;
  font-size: 20px;
  color: #333;
}

.jumbotron span {
  color: #333;
}

.jumbotron .badge {
  color: white;
}

.jumbotron .subtitle {
  color: rgb(127, 140, 141);
}

.jumbotron .thirdrow {
  margin-top: 15px;
  font-size: 24px;
  color: goldenrod;
}

.jumbotron .thirdrow .icon {
  z-index: 100;
  color: goldenrod;
}

h4 .label {
  word-spacing: -10px;
}

.article-body {
  margin-top: 40px;
  margin-bottom: 40px;
}

.comments-box p {
  white-space: pre-wrap;
}

.comments-box .label {
  word-spacing: -8px;
}

.comment .badge {
  position:relative;
  left:-22px;
  top:23px;
}

.vote-btn {
  padding-left: 40px;
  padding-right: 40px;
  max-height: 10px;
}

.article-vote {
  word-spacing: -10px;
  font-size: 20px;
}

.article-vote a {
  margin-left: 6px;
  margin-right: 6px;
}

.content-post {
  padding-top: 15px;
}

.icon-bookmark {
  font-size: 42px;
  position: absolute;
  right: 40px;
  margin-top: -3px;
  color: #e74c3c;
}

.ownvote {
  border: none;
}

.badge-ruled-by {
  position: relative;
  top: 20px;
  left: -25px;
}

.new-comment-reply {
  display: none;

  textarea {
    width: 100%;
  }
}
