.apple_pagination {
  background: #f1f1f1;
  border: 1px solid #e5e5e5;
  text-align: center;
  font-size: 1.2em;
  padding: 1em;
  cursor: default; }
  .apple_pagination a, .apple_pagination span {
    padding: 0.2em 0.3em; }
  .apple_pagination .disabled {
    color: #aaaaaa; }
  .apple_pagination .current {
    font-style: normal;
    font-weight: bold;
    background-color: #bebebe;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    padding: 0em 0.3em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }


*, *:before, *:after {box-sizing:  border-box !important;}


.row {
 -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap: 1em; 
  
}

.menu-category {
  display: block;
  margin: 0 0 10px;
  width: 280px;
}

.label {
  word-spacing: -8px;
}

/* Vlad */
/* Let's mess up with the header a little bit */
header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 0;
  background: transparent;
  .brand {
    display: inline-block;
    img:first-child {
      float: none;
      margin: 90px auto 10px;
    }
  }
}
.header-23 {
  .navbar {
    position: relative;
    top: 0;

  }
}
.bg-midnight-blue {
  background: transparent;
}
/* Now let's lift the /pagecontent a little */
.pagecontent {
  margin-top: -50px;
}
.hero-container {
  height: 510px;
  background: image-url('hero.jpg') center 0;
  //background: #31383f; /* Old browsers */
  //background: -moz-radial-gradient(center, ellipse cover, #31383f 0%, #1b1f23 100%); /* FF3.6+ */
  //background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#31383f), color-stop(100%,#1b1f23)); /* Chrome,Safari4+ */
  //background: -webkit-radial-gradient(center, ellipse cover, #31383f 0%,#1b1f23 100%); /* Chrome10+,Safari5.1+ */
  //background: -o-radial-gradient(center, ellipse cover, #31383f 0%,#1b1f23 100%); /* Opera 12+ */
  //background: -ms-radial-gradient(center, ellipse cover, #31383f 0%,#1b1f23 100%); /* IE10+ */
  //background: radial-gradient(ellipse at center, #31383f 0%,#1b1f23 100%); /* W3C */
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31383f', endColorstr='#1b1f23',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
.twitter-typeahead {
  vertical-align: middle;
  .typeahead {
    padding: 10px 20px;
    height: 50px;
    width: 500px !important;
    margin-left: 0;
  }
}
/* Stolen from #14 */

.header-14-sub .subscribe-form form {
  margin: 40px 0 10px;
}
.header-14-sub .subscribe-form form .input-group input[type="text"] {
  border-color: white;
  border-right: 0;
  min-height: 0;
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form form .input-group input[type="text"] {
    min-height: 41px;
  }
}
.header-14-sub .subscribe-form form .input-group .btn {
  margin-left: 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  border-radius: 0 6px 6px 0;
  border: 0;
  color: #fff;
  background: #e74c3c;
  line-height: 22px;
  font-size: 17px;
  font-weight: 500;
  padding: 14px 25px;
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form form .input-group .btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form form .input-group .form-control {
    float: none;
  }
  .header-14-sub .subscribe-form form .input-group .input-group-btn {
    display: block;
    width: 100%;
  }
}
.header-14-sub .subscribe-form .btn.btn-primary:hover,
.header-14-sub .subscribe-form .btn.btn-primary:focus {
  background-color: #3198e0;
}
.header-14-sub .subscribe-form .btn.btn-primary:active,
.header-14-sub .subscribe-form .btn.btn-primary.active {
  background-color: #2f85c6;
}
@media (max-width: 480px) {
  .header-14-sub .subscribe-form .input-group,
  .header-14-sub .subscribe-form .input-group input[type="text"],
  .header-14-sub .subscribe-form .input-group .btn {
    display: block;
    width: 100%;
  }
  .header-14-sub .subscribe-form .input-group input[type="text"],
  .header-14-sub .subscribe-form .input-group .btn {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
  }
  .header-14-sub .subscribe-form .input-group .btn {
    margin-top: 15px;
  }
}
.header-14-sub {
  display: table;
  width: 100%;
  vertical-align: middle;
  padding-bottom: 120px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 480px) {
  .header-14-sub {
    padding-bottom: 50px;
  }
}
@media (max-width: 540px) {
  .header-14-sub .hero-unit {
    margin: 0 auto 65px;
  }
}

.user-area {
  top: 15px;
  right: 20px;
}

.input-group {
  box-shadow: 0 3px 6px rgba(0,0,0, .6);
  border-radius: 4px;
}

.tag {
  margin-left: 40px;
  margin-bottom: 20px;
  padding: 10px 20px 10px 12px;
  background: #3198e0;
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  display: inline-block;

  &:before {
    content: "";
    float: left;
    position: absolute;
    top: 0px;
    left: -18px;
    width: 0;
    height: 0;
    border-color: transparent #3198e0 transparent transparent;
    border-style: solid;
    border-width: 18px 18px 18px 0;
  }
  &:after {

  }
}
.vigap-count {
  display: block;
  padding: 15px 0 0;
  font-weight: 200;
  font-size: 16px;
  strong {
    border-bottom: 1px dotted #7f8c8d;
  }
}
