<h1><%= @comment.user.username %> commented on your post!</h1>

<p>There's a new comment on your post "<%= @post.title %>":</p>

<blockquote>
<%= truncate(@comment.body.html_safe, :length => 100, :omission => '... (continued)', :escape => false) %>
</blockquote>

<%= link_to 'Click here to read and reply to this comment!', post_url(@post) %>
<hr>
Sincerely,<br>
The Vigap Team
